{font-family:baskerville , sans-serif; }

.heading {display:flex; 
width:100vw; 
height:9vh; 
background-color:white; 
font-family: bradley hand , sans serif; position:fixed; 
top:0px; 
overflow:hidden; 
border-bottom: 1px dotted #32d32d; z-index:1;}

.header {width:100%; justify-content:space-evenly; }

.navbar ul {display:flex; list-style-type:none; justify-content:space-evenly; }

.navbar a {display:inline-block; padding-top:10px; color:rgb(130, 0, 0 ); }

.logo {width:auto; height:100%;float:left; }

.nav { text-align:center; margin-top:5px; font-size: calc(16px + 1vw);  }

.product-title {text-align:center; font-size:3rem; width:100%; margin-top: 80px; color:rgb(130, 0, 0) }

.information {font-size:3rem; color: rgb(130, 0, 0)}

.product-information {
  display:flex; 
  text-size: 2rem; 
  text-align:left;  }

.eBook {
  width:30vw; 
  height:550px;
  margin-top:25px; 
  margin-left:15px; 
  float:left; }

.info {float:right; margin-top:25px; margin-left: 40px;
padding:10px; }

.product-details {font-size: 1.25rem;}

.description {font-size: 1rem; font-weight: 550;}

.more { text-align:left; font-size:3rem; color:rgb(130, 0, 0); margin-top: 25px; margin-left: 10px; margin-bottom:15px;  padding:10px; }

.column1, .column2, .column3 {display:inline-block; vertical-align:top; width:32vw; height:auto; margin:3px; border: 0.5px dotted rgb(130, 0, 0); }

.img1, .img2, .img3 {; height:auto; width: 32vw;  }

.more-books {color:rgb(130, 0, 0); font-size: 1.5rem;}

.m {margin:2px;}

.social {text-align:center; margin-top: -130px; margin-bottom: 80px; margin-left:50px;}

.follow {margin-left:-950px; margin-bottom:25px; }

.social-icons { display: grid;
  font-size: 3.5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 50vw; 
  z-index:-1; 
  margin-top:15px; }

.icon1, .icon2, .icon3 {display:inline-block; width:35%;  
margin-left:135px;}  

.icon2 {}

.icon3 { color:rgb(255, 0, 0); }

.about {text-align:left; font-size:3rem; color:rgb(130, 0, 0); margin-top: 20px; margin-left: 10px; padding:5px; }

.author1, .author2 {display:inline-block; padding:2px; vertical-align:top; }

.author1 {width:65vw;}

.author2 {width:30vw; margin-left:30px; margin-top:-25px; }

.me {width:20vw; height:auto; }

blockquote {text-align:center; margin-top:70px; }

.Enquiries {text-align:left; font-size:3rem; color:rgb(130, 0, 0); margin-top: 20px; margin-left: 10px; padding:5px;}

.vid {text-align:center; margin:5px; padding:50px; }

.customer {font-size:1.5rem; margin-left:10px; }

.form {display:grid; margin-left:10px; padding:5px; }

.name, .email, .text, .button {margin-left: 2px; margin-bottom:20px;  }

.query {margin-top:3px; }

.button1 { margin-left:50px;  }

.submit {width:200px; height:20px;  border:none; color: black;  background-color:rgba(130, 0, 0, 75%); border-radius:8px;  }

.submit:hover {background-color:rgb(130, 0, 0);}

.action { position:fixed; top:250px; right:100px; width:220px; height:40px; border-radius: 25px; font-size:1.5rem; background-color: rgb(50, 205, 50); font-weight:550; }

.buy {color:black; }

.action:hover {background-color:red;}




@media only screen and (max-width:600px) { 
  
.heading {display:flex; 
width:100vw; 
height:6vh; 
background-color:white; 
font-family: bradley hand , sans serif; position:fixed; 
top:0px; 
overflow:hidden; 
border-bottom: 1px dotted #32d32d; z-index:1;}

.header {width:96%; justify-content:space-evenly; }

.navbar ul {display:flex; list-style-type:none; justify-content:space-evenly;}

.navbar a {display:inline-block; margin-left:1px; color:rgb(130, 0, 0 ); }

.logo {width:auto; height:100%;float:left; }

.nav { margin-top: -4px;font-size: calc(8px + 1vw);  }

.product-title {text-align:center; font-size:2rem; width:100%; margin-top: 45px; color:rgb(130, 0, 0) }

.product-information {width:100%; display:grid; }

.information {font-size:1.8rem; margin-top:-60px; }

.eBook {margin-left:50px; width:70%; height:80%;}

.more { text-align:left; font-size:2rem; color:rgb(130, 0, 0); margin-left: 5px; margin-bottom:15px;  padding:10px; }

.column1, .column2, .column3 {display:inline; vertical-align:top; width:32vw; height:auto; margin-left:3px;}

.img1, .img2, .img3 {height:auto; width: 100vw;  }

.more-books {color:rgb(130, 0, 0); font-size: 1.5rem;}

.m {margin:2px;}

.social {text-align:center; margin-top:1px; margin-bottom:10px; margin-left:5px;}

.follow {margin-left:0px; margin-top:30px;margin-bottom:5px; }

.social-icons { display: grid;
  font-size: 1.5rem; 
  z-index:-1; 
  margin-top:15px; }

.icon1, .icon2, .icon3 {display:inline-block; width:32vw; margin-left:1px;}  

.about {text-align:left; font-size:2rem; color:rgb(130, 0, 0); margin-top: 40px; margin-left: 10px; padding:5px; }

.author1, .author2 {display:inline;  }

.author1 {width:65vw;}

.author2 {width:30vw; text-align:center; }

.me {width:90vw; text-align:center; height:auto; margin-top:20px; margin-left:-25px; }

blockquote {text-align:center; margin-top:20px; margin-bottom: 10px; }

.Enquiries {text-align:left; font-size:2rem; color:rgb(130, 0, 0); margin-top: 20px; margin-left: 10px; padding:5px;}

.vid {text-align:center; padding:1px; }

iframe {width:310px; height:180px; }

.customer {font-size:1.5rem; margin-left:10px; }

.form {display:grid; margin-left:10px; padding:5px; }

.name, .email, .text, .button {margin-left: 2px; margin-bottom:20px;  }

.query {margin-top:3px; }

.button1 { margin-left:50px;  }

.submit {width:200px; height:20px;  border:none; color: black;  background-color:rgba(130, 0, 0, 75%); border-radius:8px;  }

.submit:hover {background-color:rgb(130, 0, 0);}

.action { position:fixed; top:22%; left:60%; width:116px; height:40px; border-radius: 25px; font-size:1rem; background-color: rgb(50, 205, 50); font-weight:550; z-index:1; }


}
